/* styles.css */

.my-button {
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-padding: 10 20; /* Padding */
    -fx-background-radius: 10;
    -fx-border-width: 0;
}

.my-button:hover {
    -fx-opacity: 0.7;
}

.active {
    -fx-background-color: #3498db; /* Màu nền */
    -fx-text-fill: #ffffff; /* Màu chữ */
}